#What files for git to ignore

# __pycache__ is for compiled .pyc files
scripts/__pycache__/
scripts/__pycache__/*
config/__pycache__/*
*/__pycache__/*
scripts/__pycache__/KeypointDataset.cpython-310.pyc
scripts/__pycache__/KeypointDataset.cpython-310.pyc
*.onnx

*.ckpt
checkpoints/*
wandb/*
